extends layout

block content
  h1= title
  -
    let results = [
      {
        "breed": "Pug",
        "color": "Black",
        "cost": 100
      },
      {
        "breed": "Golden Retriever",
        "color": "Gold",
        "cost": 200
      },
      {
        "breed": "Bulldog",
        "color": "White",
        "cost": 300
      },                   
    ]
  div(class= "container-fluid")
    div(class = "row m-1")
      each item,index in results
        - let destination = `dispatch(\"/dog/update?id=${item._id}\")`
        div(class= "col-sm-2", onclick=`buy(${index})`) Breed: #{item.breed}
        div(class= "col-sm-2", onclick=`buy(${index})`) Color: #{item.color}
        div(class= "col-sm-2", onclick=`buy(${index})`) Cost: #{item.cost}
        button.btn.btn-primary(onclick=destination) Update

        br
        br
        
  script.
    //- function buy(itemNum){
    //-   alert(`You purchased item ${itemNum+1}`)
    //- }
    function dispatch(path){
      window.location.href=path
    }

