extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let dogid = toShow._id
    - let dogbreed = toShow.dogbreed
    - let dogcost = toShow.cost
    - let dogcolor = toShow.color
    - let actionid = "/resource/dog/" + dogid
    script.
      let actionid = "#{actionid}"

    div.container
      div.row.mb-3
        div.col-md-12
          strong.dogAttr Dog ID is:
          div #{dogid}

      div.row.mb-3
        div.col-md-12
          strong.dogAttr Dog Breed is:
          div #{dogbreed}

      div.row.mb-3
        div.col-md-12
          strong.dogAttr Dog Color is:
          div #{dogcolor}

      div.row.mb-3
        div.col-md-12
          strong.dogAttr Dog Cost is:
          div #{dogcost}
      